$COLOR_THEME: #bb2200;
$COLOR_BASE: #f4f2e6;
$COLOR_MAIN: #221111;
$COLOR_ACCENT: #43595d;

$WIDTH_MOBILE: 640px;
$WIDTH_TABLET: 1280px;

@mixin max($break) {
  @media screen and ( max-width: $break ){ @content; }
}

@mixin min($break) {
  @media screen and ( min-width: $break ){ @content; }
}
